<nav class="navbar navbar-dark bg-primary"> <!--bg primary define a cor da minha navbar, e o navbar-ligth define a cor do texto -->
    <a class="navbar-brand" href="/">
        Blog criado por AGabsBlue
    </a>
</nav>